.nav_container{
    background-color: white;
    width:15%;
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(24, 89, 168, 0.2);
    box-shadow: 2px 2px 2px #888888;
    .logo_container{
        height: 81px;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .image{
            height: 80px;
        }
    }
    .buttons_container{
        width:100%;
        height:auto;
        .nav_button{
            width:100%;
            display: flex;
            align-items: center;
            height: 45px;
            padding: 15px;
            color: var(--admin-text);
            transition: background-color 0.25s ease-in;
            .image{
                height:20px;
                margin-left: 10px;
            }
            &:hover{
                background-color: #F6F9FC;
                cursor: pointer;
            }
            &.isActive{
                background-color: rgba(149, 165, 166, 0.5);
            }
        }
    }
    .sign_out_btn{
        margin-top: auto;
    }
}