.view_container{
    height:100%;
    display: flex;
    flex: 1 1 0px;
    .admin_top_row{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100px;
        margin-top: 15px;
    }
}