// Table Container
.table{
    display: flex;
    flex-direction: column;
    width: 98%;
    .table_body{
        // There are max 8 products / 16 entries per page
        min-height: 800px;
        background-color: rgba(255, 232, 214, 0.25);
        .loader{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .table_header{
        display: flex;
        text-align: right;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        .table_header_cell{
            &:first-child{
                border-top-right-radius: 16px;
            }
            &:last-child{
                border-top-left-radius: 16px;
            }
            display: flex;
            padding-right: 20px;
            align-items: center;
            justify-content: flex-start;
            background-color: rgba(255, 232, 214, 1);
        }
    }
    .table_row{
        transition: background-color 0.3s ease-in;
        &:hover{
            background-color: rgba(255, 232, 214, 0.1);
            cursor:pointer;
        }
        &.order_completed{
            background-color: rgba(180,207,181, 0.5);
        }
        background-color: white;
        display: flex;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        &:last-child{
            border-bottom: none;
        }
        width: 100%;
        .table_cell{
            display: flex;
            padding-right: 20px;
            align-items: center;
        }
    }
    .table_footer{
        width: 100%;
        height: 30px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: rgba(255, 232, 214, 1);
    }
}