.wrapper{
    height: 100%;
    width: 100%;
    .main_container{
        background-color: var(--admin-bg-purple);
        height: 350px;
        width:100%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        .title{
            text-align: right;
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 90px;
        }
        .buttons{
            width:100%;
            height:auto;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
            .button_container{
                transition: box-shadow 0.25s ease-in;
                height: 120px;
                width: 240px;
                background-color: white;
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                padding: 16px 24px;
                position: relative;
                &:active {
                    background-color: var(--admin-bg-purple);
                    top:3px;
                    .orders_title {
                        p{
                            color:white;
                        }
                    }
                    .regular{
                        .title{
                            color:white;
                        }
                    }
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 10px 10px 24px 2px;
                }
                .orders_title{
                    display: flex;
                    height: 50px;
                    align-items: center;
                    .image{
                        height:48px;
                        margin-left: 15px;
                    }
                    p{
                        color: var(--admin-text);
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0;
                    }
                }
                .orders_open{
                    margin-top: auto;
                    width: 100%;
                    text-align: center;
                }
                .regular{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .title{
                        margin:0;
                        color: var(--admin-text);
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .image {
                        height: 48px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .info_container{
        position: relative;
        top:-50px;
        width:100%;
        display: flex;
        height: auto;
        .chart_container{
            padding: 16px 24px;
            width:50%;
        }
        .open_orders_container{
            width: 50%;
            padding: 16px 24px;
            .table_container{
                box-shadow: var(--card-shadow);
                background-color: white;
                border-radius: 8px;
                width:100%;
                height:100%;
                display: flex;
                flex-direction: column;
                .header {
                    display:flex;
                    align-items: center;
                    padding: 8px 12px;
                    width:100%;
                    height:13%;
                    p{
                        color: #32325d;
                        margin: 0;
                        text-align: right;
                        font-size: 22px;
                        color: var(admin-bg-gray);
                        font-weight: 600;
                    }
                }
                .table {
                    width:100%;
                    height:97%;
                    display: flex;
                    flex-direction: column;
                    .row_container {
                        transition: opacity ease-in 0.25s;
                        opacity: 0.75;
                        border-bottom: 1px solid #e9ecef;
                        border-top: 1px solid #e9ecef;
                        display: flex;
                        height: 50px;
                        flex-direction: row;
                        background-color: rgba(136, 152, 170, .15);
                        font-size: 14px;
                        font-weight: 500;
                        &:hover{
                            cursor: pointer;
                            opacity: 1;
                        }
                        &.header{
                            cursor: auto;
                            opacity: 1;
                            padding:0;
                            background-color: #f6f9fc;
                            .row_cell{
                                color: #8898aa;
                            }
                        }
                        .row_cell{
                            color: #525f7f;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 13px;
                            font-weight: bold;
                            flex: 1 1 0;
                            padding: 4px 8px;
                        }
                    }
                }
            }
        }
    }
}