:root{
    html{
        height:100vh;
        width:100vw;
    }
    body{
        height: 100vh;
        width: 100vw;
    }
    #root{
        height: 100vh;
        width: 100vw;
    }
    .container-fluid{
        height:100vh;
        width:100vw;
    }
    .login-btn{
        width: 60%;
        font-size: 20px;
    }
}
@import '~bootstrap/scss/bootstrap.scss';