.user_form_container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  .top_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    .styled_input{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      input{
        margin-right: 10px;
        width: 400px!important;
        max-width: 400px!important;
        min-width: 400px!important;
      }
      div{
        width: 85px!important;
        max-width: 85px!important;
        min-width: 85px!important;
      }
    }
  }
  .address_inputs{
    display: flex;
    flex-direction: column;
    width: 65%;
    .address_top_row{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }
}