.error_container{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: var(--error-box);
    width: 100px;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    opacity: 1;
}